<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bytely</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  {{>navbar}}

  <h1 style="text-align: center;margin-top:20px">Hello {{user.name}}</h1>
  <div class="form-container">
    <div class="container mt-5">
    <table class="table table-hover table-striped">
      <thead class="table-light">
          <tr>
            <th scope="col">Long Url</th>
            <th scope="col">Short Url</th>
            <th scope="col">Clicks</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        </tbody>
      </table>
      <form class="row g-3" action="/byte" method="post">
          <div class="col-md-6">
            <label  class="form-label">Enter url to generate tiny url</label>
            <input type="text" class="form-control" name="origUrl" autocomplete="off">
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-dark">Get url</button>
          </div>
        </form>
    </div>
  </div>
  <script>
   
   {{#each urls}}
   
   var code = `{{this.smallUrl}}`.split('/')[3];
   var btn = document.createElement("button");
   var createA = document.createElement('a');
   var createAText = document.createTextNode(`{{this.smallUrl}}`);
   createA.setAttribute('href', `/byte/${code}`);
   createA.setAttribute('target','_blank');
   createA.appendChild(createAText);
   btn.innerHTML = 'Delete'
   btn.setAttribute('id',`{{this.smallUrl}}`)
   btn.setAttribute('class','btn btn-dark')
   btn.setAttribute('onclick','deleteRow(this)')
    var table = document.getElementsByClassName('table');
      var rowCount = table[0].rows.length;
      var row = table[0].insertRow(rowCount);
      row.setAttribute('id',`{{this.smallUrl}}`)
      row.insertCell(0).innerHTML = `{{this.longUrl}}`
      row.insertCell(1).appendChild(createA)
      row.insertCell(2).innerHTML = `{{this.clicks}}`
      row.insertCell(3).appendChild(btn)
   {{/each}}
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>;
  <script src="../../scripts/generateUrl.js"></script>
</body>
</html>